*{
    margin:0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link{
    color: green;
    list-style: none;
    text-decoration: none;
    
}
.active{
    color: red;
}
