@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
}
:root{
    --primaryColor: #EF299D;
    --dark: #000;
    --light: #fff;
    --primaryHover: #b4307d;
}
.container{
    width: 100%;
    height: 70px;
    /* background-color: orange; */
    border-bottom: 1px solid rgb(228, 227, 227);
    padding: 5px 0px;
    box-shadow: 0px 10px 13px -15px rgba(0,0,0,0.3);
    

}

.nav{
    max-width: 1140px;
    height: 60px;
    /* background-color: green; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    place-items: center;
    color: var(--dark);
    
}
.nav ul{
    display: flex;
    gap: 25px;
    
}
.nav ul li{
    list-style-type: none;
    letter-spacing: .5px;
}
.nav ul li a{
    text-decoration: none;
    color: var(--dark);
}

.nav h2 > a{
    text-decoration: none;
}
.nav span{
    color: var(--primaryColor);
}

.btns{
    display: flex;
    gap: 10px;
}
.btns button:nth-child(1){
    padding: 15px;
    /* background-color: var(--dark); */
    border-radius: 8px;
    border:none;
    width: 100px;
    font-size: 17px;
}
.btns button:nth-child(2){
    padding: 15px;
    background-color: var(--primaryColor);
    border-radius: 8px;
    border:none;
    width: 170px;
    color: var(--light);
    font-size: 17px;
}
.btns button:nth-child(1):hover{
    cursor: pointer;
    outline: 1px solid var(--primaryColor);
}
.btns button:nth-child(2):hover{
    background-color: var(--primaryHover);
    cursor: pointer;
}
.mobile_menu{
    display: none;
}
.hamburger_icon{
    display: none;
}
/* Responsive CSS */
@media (max-width:768px) {
    .nav{
        max-width: 450px;
        
    }
    #desktop_nav,#desktop_btns{
        display: none;
    }
    .hamburger_icon{
        font-size: 25px;
        cursor: pointer;
        display: block;
    }
    .mobile_menu{
        display: block;
        width: 100%;
        background-color: #e6d1d1;
        min-height: 260px;
        position: relative;
        z-index: 999;

    }
    #mobile_nav{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 450px;
        transition: all 0.5s;
        

    }
    #mobile_btns{
        display: flex;
        max-width: 450px;
        margin: 0 auto;

        
    }
    #mobile_btns button{
        width: 100%;
        margin-bottom: 10px;
        padding:12px;
    }
    #mobile_nav li{
        list-style-type: none;
        padding: 15px;
        
    }
    #mobile_nav li a{
        text-decoration: none;
        color: var(--dark);

    }
    

}